doctype html
html(lang="en" dir="ltr")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet" href="/assets/css/main.min.css")

        - var url = "https://www.idonthaveapodcast.com"
        - var title = "I Don't Have A Podcast"
        - var description = "Are all your friends starting podcasts? Does that make you never want to start your own? Proclaim your dedication to never start your own podcast."

        title=title
        meta(name="description" content=description)
        meta(name="og:locale" content="en_US")
        meta(name="og:type" content="website")
        meta(name="og:title" content=title)
        meta(name="og:description" content=description)
        meta(name="og:site_name" content=url)
        meta(name="twitter:card" content="summary")
        meta(name="twitter:title" content=title)
        meta(name="twitter:description" content=description)
        link(rel="canonical" href=url)

        link(rel='apple-touch-icon' sizes='180x180' href='/assets/icons/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='/assets/icons/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='/assets/icons/favicon-16x16.png')
        link(rel='manifest' href='/site.webmanifest')

    body(class="home")